<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo JWT Express partie Front</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
    <h1>Demo JWT Express partie Front</h1>


    <h2>LOGOUT</h2>


    <ul>
        <li><a href="login">Page login</a></li>
        <li><a href="logout">Page logout</a></li>
        <li><a href="contentNotLocked">Page contenu non bloqué</a></li>
        <li><a href="contentLocked">Page contenu bloqué</a></li>
    </ul>

 <script>
 function logoutToken() {
    // What do I have to add here to look only in the "obligations=" cookie? 
    // Because now it searches all the cookies.
    if(document.cookie.includes('token='))
    {
        document.cookie = ""
    }
 }
logoutToken()

  </script>
</body>
</html>